<div class="article-index">
  <p><span class="h1">Blog Index</span></p>

  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Created</th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <% ordinal = article.created_at.day.ordinalize %>
        <td> <%= link_to article.title, article_path(article) %> </td>
        <td> <%= article.created_at.strftime("%B #{ordinal}, %Y") %> </td>
      </tr>
    <% end %>
  </table>

  <% if user_signed_in? && Article.can_user_create?(current_user) %>
    <%= link_to 'New article', new_article_path %>
  <% end %>
</div>
