@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/// Site colors
// Layout
$color-primary-1: #d8bfd8;
// Shadows
$color-shadow-1: rgba($black, 0.5);
// Decor
$color-decor-1: $gray-400;
$color-decor-2: $gray-600;
// Icon gradient
$color-pond-1: #99a0f5;
$color-pond-2: #2b327e;

// Text colors //TODO: Set more appropriate colors
$color-text-light: #fff4ff;
$color-text-dark: #4f424f;

//// Bootstrap overrides

// Typography
$font-family-sans-serif: "Sunflower", sans-serif;
$font-family-monospace: "Ubuntu Mono", Consolas, "Courier New", monospace;
$headings-font-family: "Lato", sans-serif;
// HR
$hr-border-color: $color-decor-1;
