// Color theme
@import "theme/color-defaults";
@import "theme/lilac";

// Bootstrap core
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Bootstrap styles
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
// Bootstrap components
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/button-group";

// Utilities
@import "utility/accessors";

// App styles
@import "layout/layout";
// Modules for views
@import "module/articles";
@import "module/comments";
@import "module/elements";


div.field_with_errors {
  // Fixes a problem where the div breaks formatting
  display: inline;
  label::first-line {
    background-color: rgba($danger, 0.25);
  }
  label::after {
    content: '*'
  }
}

.cke_editable {
  padding: spacer(1);
}

/* Useful for indicating the size and position of a container */
.container-default {
  background-color: $light;
  border: $border-width solid $secondary;
  border-radius: $border-radius;
  padding: spacer(1);
}
