// Color theme
@import "defaults/color-defaults";
@import "themes/lilac";

// Bootstrap core
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Utilities
@import "utility/accessors";

// Optional features
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/button-group";

// App styles
@import "lilac/elements";
@import "lilac/layout";
@import "lilac/articles";
@import "lilac/comments";
@import "lilac/welcome";


label {
  font-weight: bold;
}
div.field_with_errors {
  // Fixes a problem where the div breaks formatting
  display: inline;
  label::first-line {
    background-color: rgba($danger, 0.25);
  }
  label::after {
    content: '*'
  }
}

.alert:empty {
  display: none;
}

.cke_editable {
  padding: spacer(1);
}

/* Useful for indicating the size and position of a container */
.container-default {
  background-color: $light;
  border: $border-width solid $secondary;
  border-radius: $border-radius;
}
