// Article navbar
.article-nav {
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  td {
    border-top: 1px solid $color-decor-1;
    border-bottom: 1px solid $color-decor-1;
  }
}

.article-index {
  width: auto;
  @extend .text-center;

  table {
    @extend .mx-auto;
    width: auto;
  }
  th {
    @extend .p-1;
  }
  a {

  }
}

.article-form {
  h1 {
    @extend .text-center;
    @extend .mx-auto;
  }
  textarea {
    width: 100%;
    min-height: 8em;
  }
}
