// Comments list container
#comments {
  margin-bottom: 1em;
}

// Individual user comments
.user-comment {
  $inner-padding: 0.5px;
  // Container
  border: 0px solid $color-decor-2;
  border-width: 1px;
  border-bottom-width: 0px;
  &:last-child {
    border-bottom-width: 1px;
  }
  // Each child object
  &>.tagline, &>.comment-body, &>.comment-form {
    padding-left: spacer(1);
    padding-right: spacer(1);
  }
  // Tagline
  &>.tagline {
    position: relative;
    background-color: $color-decor-1;
    margin: 0;
    @include make-container;
    .commenter-name {
      font-weight: bold;
    }
    .comment-options {
      float: right;
    }
  }
  // User text
  &>.comment-body {
    p {
      margin-bottom: 0;
    }
    p:first {
      margin-top: 0
    }
  }
}

// Edit form
.comment-form {
  padding-top: spacer(1);
  padding-bottom: spacer(1);
  textarea {
    width: 100%;
    min-height: 3em;
  }
  p {
    margin-bottom: 0;
  }
  button {
    border: $border-width solid $color-decor-1;
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  }
}
