<header class="header">
  <!-- Brand icon -->
  <div class="header__icon">
    <div class="header__icon-pond">
      <a href="/" class="header__icon-flower"></a>
    </div>
  </div>

  <!-- Navigation bar -->
  <%= render partial: "application/navbar" %>
</header>
