<header class="header">
  <!-- Brand icon -->
  <!-- <div class="header__icon">
    <div class="header__icon-pond">
      <a href="/" class="header__icon-flower"></a>
    </div>
  </div> -->

  <!-- Navigation bar -->
  <div class="header__nav">
    <%= render partial: "application/navbar" %>
  </div>
</header>
