<nav class="navbar">
    <ul class="navbar__nav">
      <li class="navbar__item">
        <a href="#">Blog</a>
      </li>
      <li class="navbar__item">
        <a href="#">About</a>
      </li>
      <li class="navbar__item">
        <a href="#">Contact</a>
      </li>
    </ul>
</nav>
