// Layout
$color-primary-1: thistle;
// Shadows
$color-shadow-1: rgba($black, 0.5);
// Decor
$color-decor-1: $gray-400;
$color-decor-2: $gray-600;
// Icon gradient
$color-pond-1: #99a0f5;
$color-pond-2: #2b327e;

$hr-border-color: rgba($black, .1);
$hr-border-color: $color-decor-1;
